*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
app/debug/
.idea/
build/
bin/
gen/
out/
*.log
/*/build/
/*/out
/*/*/release
/*/release
*.pepk
*.apk
*.keystore
*.jks
google-services.json
*.iml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

