<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wiryaimd.mangatranslator">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/splashScreenTheme">
        <activity android:name=".ui.main.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.setup.SetupActivity"
            android:parentActivityName=".ui.main.MainActivity"/>

        <activity android:name=".ui.premium.PremiumActivity"
            android:parentActivityName=".ui.main.MainActivity"/>

        <meta-data android:name="applovin.sdk.key"
            android:value="I9DWtQ4_z_6yBbkTAI50m5uEa9OTfDv60olQBnPuAsTDKVsGrEp6O6fR8-F1HJKCuWG3LV4MGisKP7mmggKP2l"/>

<!--        <meta-data-->
<!--            android:name="com.google.mlkit.vision.DEPENDENCIES"-->
<!--            android:value="ocr" />-->

    </application>

</manifest>